body{
    background: linear-gradient(#1944bb, rgb(226, 219, 219));
    height: 525px;
}
@media (min-width: 350px) {
    body {
        height: 600px;
    }
}
@media (min-width: 370px) {
    body {
        height: 650px;
    }
}
@media (min-width: 400px) {
    body {
        height: 700px;
    }
}
@media (min-width: 760px) {
    body {
        height: 900px;
    }
}
@media (min-width: 1020px) {
    body {
        height: 1240px;
    }
}
@media (min-width: 1090px) {
    body {
        height: 600px;
    }
}
.poll{
    margin-top: 150px;
}

.poll form div{
    margin-left: 30%;
}

.field{
    margin: auto;
    display: block;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 40%;
    height: 50px;
}
.value{
    display: inline-block;
    margin-right: 4.2%;
}
@media (max-width: 1199px) {
    .value {
        margin-right: 3.9%;
    }
}
@media (max-width: 1024px) {
    .value {
        margin-right: 3.5%;
    }
}
@media (max-width: 768px) {
    .value {
        margin-right: 2.9%;
    }
}
@media (max-width: 414px) {
    .value {
        margin-right: 0.5%;
    }
}
@media (max-width: 375px) {
    .value {
        margin-right: 0;
    }
}
@media (max-width: 360px) {
    .value {
        margin-right: -0.2%;
    }
}
@media (max-width: 320px) {
    .value {
        margin-right: -1%;
    }
}
p{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
}
.slider {
    -webkit-appearance: none;
    width: 40%;
    margin-left: 30%;
    display: inline-block;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
.button
.button::before,
.button::after
{
  transition: all ease .5s;
}

.button{
  position: relative;
  padding: 0.3em;
  border: solid 1px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #ffffff;
    display: flex;
    box-align: center;
    width: 115px;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
}

.button:hover
{
  box-shadow: 0 0 5em .5em rgba(255, 255, 255, 0.5);
}

.button::before,
.button::after
{
  content: '';
  position: absolute;
  border: 1px;
}

.button::before
{
  border-style: solid none;
}

.button::before{
  left: 0;
  top: -0.4em;
  width: 100%;
  height: calc(100% + 0.8em);
}

.button::after
{
  border-style: none solid;
}

.button::after
{
  top: 0;
  left: -0.4em;
  height: 100%;
  width: calc(100% + 0.8em);
}

.button:hover::after
{
  transform: scaleY(0);
}

.button:hover::before
{
  transform: scaleX(0);
}
